* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;

}


body {
    background-color: black;
    margin-left: 10%;
    margin-right: 10%;

}

.navegacion-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;

}

.navegacion-principal__menu {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: aliceblue;
    ;
    list-style: none;

}

.navegacion-principal__menu a {
    color: white;
    text-decoration: none;
}


.navegacion-principal__menu-derecha {
    display: flex;

}

.navegacion-principal__menu-derecha i {
    color: aliceblue;
}

.cabecera {
    display: grid;
    background-image: url(/assets/showcase.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    height: 300px;
    margin-top: 20px;
    padding-top: 50px;

}

.cabecera h2 {
    justify-content: center;
    display: grid;
}

.cabecera p {
    text-align: center;
}

.boton {
    display: grid;
    justify-content: center;
    text-decoration: none;

}

.boton button {
    background-color: #333;
    height: 40px;
    width: 100px;
    color: white;
    border: groove white;
}


.tarjetas-noticias {
    display: flex;
    margin-top: 20px;
    gap: 25px;

}


.tarjetas-noticias__tarjeta {
    color: white;
    display: flex;
    flex-direction: column;




}

.tarjetas-noticias__tarjeta p {
    margin-top: 10px;
}

.tarjetas-noticias__tarjeta h3 {
    text-align: center;
    margin-top: 10px;
}

.tarjetas-noticias__tarjeta a {
    margin-top: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
}


.banner-tarjetas-uno {
    display: grid;
    margin-top: 20px;
    color: white;
    text-align: center;
    background-image: url(/assets/tech-red.jpg);
    background-size: auto;
    height: 300px;
    background-position: center;
    align-items: center;



}

.banner-tarjetas-uno__contenido p {
    margin-left: 200px;
    margin-right: 200px;
}

.button {
    background-color: #333;
    color: white;
    width: 150px;
    margin-top: 15px;
    height: 50px;


}

.button a {
    color: white;
    text-decoration: none;
}


.tarjetas-noticias2 {
    display: flex;
    gap: 25px;
}


.tarjetas-noticias__tarjeta2 {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 20px;
    text-align: center;

}

.tarjetas-noticias__tarjeta2 a {
    color: white;
    margin-top: 10px;
    text-decoration: none;
}


.tarjetas-noticias__tarjeta2 p {
    margin-top: 10px;
}

.tarjetas-noticias__tarjeta2 h3 {
    margin-top: 10px;
}


.banner-tarjetas-dos {
    display: grid;
}

.banner-tarjetas-dos__contenido {
    background-image: url(/assets/Image-five.jpg);
    background-size: auto;
    background-position: center;
    height: 250px;
    margin-top: 20px;
    text-align: center;
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
    color: white;
}

.social {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.enlaces-pie {
    display: flex;
}


.enlaces-pie__contenedor {
    display: flex;
    gap: 930px;
    background-color: #444;
    margin-top: 50px;
    height: 150px;

}


.enlaces-pie__lista {
    flex-direction: column;
    margin-top:  20px;
    

}


.enlaces-pie__lista a {
    text-decoration: none;
    color: white;
    ;
}

.pie {color: grey;
    display: grid;
    justify-content: center;
 ;
}



